.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .h1{
        font-size: 40px;
    }
}
.anotherimg{
    width: 200px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}